@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200;1,500&display=swap');


/*Default*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Poppins', 'Times New Roman', Times, serif ;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}
img{
    height: 100%;
    width: 100%;

    background-size: cover;
}
p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Definição de plano de fundo e modificação dele com after */

#presentation{
    background-image: url(Imagens/Intro_Background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

#presentation::after{
    content: '';
    position: absolute;
    left:0;
    top: 0;
    height:100%;
    width: 100%;
    background-color:black;
    opacity: 0.5;
    z-index: -1;
}

#presentation h1{
    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}

#presentation h1:nth-child(1){
    animation-delay: .8s;
}
#presentation h1:nth-child(2){
    animation-delay: 1.8s;
}
#presentation h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 2.8s;
}

/* Definição das características da faixa e tempo para aparecerem na tela */

#presentation h1 span{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 0%;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
    background-color: Tan;
}
#presentation h1:nth-child(1) span{
    animation-delay: .5s;
}
#presentation h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#presentation h1:nth-child(3) span{
    animation-delay: 2.5s;
}

/* Keyframes para aparecer as palavras e as faixas que as precedem */

/*Palavras*/
@keyframes text_reveal{
    100%{
        color: rgb(94, 197, 171);
    }
}

@keyframes text_reveal_name{
    100%{
        color: Tan;
        font-weight: 500px;
    }
}

/*Faixas*/
@keyframes text_reveal_box{
    50%{
        width:100%;
        left:0;
    }
    100%{
        width: 0;
        left:100%
    }
}

/*Estilização dos botões */

#presentation .cta{
    display: inline-block;
    padding: 10px 30px;
    color: Tan;
    background-color: transparent;
    border: 4px solid Tan;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .5s ease;
    transition-property: background-color, color;

}
#presentation .cta:hover{
    color: darkcyan;
    font-weight: bold;
    background-color: Tan;
}